---
layout: default_home
---


  <div class="count-particles">
    <span class="js-count-particles">--</span> Nodes
  </div>

  <section id="banner">

            <!-- count particles -->
<!-- count particles -->
   
          
      <!-- particles.js container -->
      <div id="particles-js">
          <div id="copyright">
            
              <h1><a href="https://www.linkedin.com/in/yuvrajdomun/">Yuvraj Domun</a> </h1>
                <p>"I want to help others turn data into information and information into insight"</p>  
                   
            </div>
      </div>

      <!-- scripts -->
      <script src="assets/js/particles.js"></script>
      <script src="assets/js/app.js"></script>

      <!-- stats.js -->
      <script src="assets/js/stats.js"></script>
      <script>
        var count_particles, stats, update;
        stats = new Stats;
        stats.setMode(0);
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.left = '0px';
        stats.domElement.style.top = '0px';
        document.body.appendChild(stats.domElement);
        count_particles = document.querySelector('.js-count-particles');
        update = function() {
          stats.begin();
          stats.end();
          if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
            count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
          }
          requestAnimationFrame(update);
        };
        requestAnimationFrame(update);
      </script>

  </section>

  <body class="is-preload" ></body>
      <div class="user-details" >
          <h1> My Expertise </h1>
          <p>  I am passionate about helping businesses through their digital transformation journey using Data Science. I am experienced in delivering ML solutions to solve academic and business problems, helping clients shape their digital strategy, and developing processes for the successful integration of Data Science in their day-to-day operations.</p>
      </div>
      <div class="user">
        <div class="tech">
          <h2>Data Science</h2>
          <!--<i class="devicon-javascript-plain colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-javascript-plain colored"></i>-->
          <img src="assets/images/DataScience.svg">

          <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
            Vinyl XOXO lumbersexual</p>
        </div>
        <div class="tech">
          <h2> Data & Operations</h2>

          <img src="assets/images/DataOps.svg">

          <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
            Vinyl XOXO lumbersexual</p>
        </div>
        <div class="tech">
          <h2>Data Strategy</h2>

          <img src="assets/images/Strategy.svg">
          <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
            Vinyl XOXO lumbersexual</p>
        </div>
      </div>

  <!-- Highlights -->
  <body class="is-preload"></body>

      <div class="highlights">

          {% if paginator %}
            {% assign posts = paginator.posts %}
          {% else %}
            {% assign posts = site.posts %}
          {% endif %}

          {% assign entries_layout = page.entries_layout | default: 'section' %}

          {% for post in posts %}
            <section>
              <div class="content">
                <header>
                    {% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
                    {% include page__hero.html %}
                    {% elsif page.header.video.id and page.header.video.provider %}
                      {% include page__hero_video.html %}
                    {% endif %}
                  {% include archive-single.html type=entries_layout %}
                </header>
              </div>
            </section>
          {% endfor %}
          </div>
    </div>

  