---
layout: default_home
---



  <section id="banner">

            <!-- count particles -->
<!-- count particles -->


      <!-- particles.js container -->

      <div id="particles-js">
          <div id="copyright">

              <h1><a href="https://www.linkedin.com/in/yuvrajdomun/">I'm Yuvraj Domun</a> </h1>


                <p>I want to help others turn data into information, and information into insight.</p>

            </div>
      </div>

      <!-- scripts -->
      <script src="assets/js/particles.js"></script>
      <script src="assets/js/app.js"></script>



  </section>

      <div class="user-details" >
          <h2> Welcome to my blog! </h2>
          <p>
            As a data scientist, I want to build a holistic understanding of data science, and master are all the components
            required to make data science Work! My personal blog is a space for me to capture and share my data science journey.
            True to the journey taken by the 'IT' guy in Dan Roberts' <a href="https://www.wiley.com/en-us/Unleashing+the+Power+of+IT%3A+Bringing+People%2C+Business%2C+and+Technology+Together-p-9781118044506"> book</a>, where the focus
            is on bringing people, process, technology together to make IT more agile, I want to focus on bringing <b>Data Science</b> (Technology), <b>Data & Operations</b> (People), <b>Data Strategy</b> (Process) together.
          </p>
      </div>

      <div class="user">
        <div class="tech">
          <h2>Data Science</h2>
        <img src="assets/images/DataScience.svg">
        <p><b> “We’re at the beginning of a golden age of AI. Recent advancements have already led to invention that previously lived in the
           realm of science fiction — and we’ve only scratched the surface of what’s possible.” - Jeff Bezos</b></p>
          <p> I am passionate about everything Machine Learning, and Artificial Intelligence (Neural Networks). I have worked extensivly on a wide range
            of projects both in academia and in the industry to deliver data science solutions. However, the pace
            at which data science technologies are evolving is unprecedented. In my Data Science journey, I experiment with new techniques and
            try the cool new toys! My current obsession is the application of Causual Inference on Machine Learning Algorithm.
          </p>
        </div>

        <div class="tech">
          <h2> Data & Operations</h2>
          <img src="assets/images/DataOps.svg">
          <p><b>“It cannot be changed without changing our thinking.” – Albert Einstein. </b></p>
          <p><a href="https://www.dataopsmanifesto.org/">DataOps</a> is to Data Science what DevOops is to Software Development. It used to take atleast 6 months
              to deploy softwares, untill the agile revolution took place. As a Data Scientist, I am very familiar with
              the long and tedious waterfall process I have to follow to push Data Science Solution to production.
              But there is room for improvement, I am keen to apply lean princicples to Data Science to improve the velocity
              at which data science products are productionised. Do we really need to get stuck behind last century's systems 
              and <a href="https://www.entityframeworktutorial.net/code-first/what-is-code-first.aspx"">code-first</a> thinking
              when delivering Data Science?
               </p>
        </div>

        <div class="tech">
          <h2>Data Strategy</h2>
          <img src="assets/images/Strategy.svg">
          <p><b>“By Failing to prepare, you are preparing to fail.” – Benjamin Franklin. </b></p>
          <p> Everyone wants to to do Data Science. We have heard that hiring an Army of PhDs will not help. In my Journey to understand how to help businesses shape
            their data Strategy, I focus on understanding the scope of a Data Strategy, what are they key areas organisation needs to focus on when shaping their data strategy,
            and how they can drive change in a positive direction.
          </p>
        </div>
      </div>

  <!-- Highlights -->
  <body class="is-preload"></body>

      <div class="highlights">

          {% if paginator %}
            {% assign posts = paginator.posts %}
          {% else %}
            {% assign posts = site.posts %}
          {% endif %}

          {% assign entries_layout = page.entries_layout | default: 'section' %}

          {% for post in posts %}
            <section>
              <div class="content">
                <header>
                    {% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
                    {% include page__hero.html %}
                    {% elsif page.header.video.id and page.header.video.provider %}
                      {% include page__hero_video.html %}
                    {% endif %}
                  {% include archive-single.html type=entries_layout %}
                </header>
              </div>
            </section>
          {% endfor %}
          </div>
    </div>

  