---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<div class="blinkwrapper">
  <div data-text>
  <span class="item">Data Scientist</span>
  <span class="item">Engineer</span>
  <span class="item">Strategic Thinker</span>
  </div>
  <h2>Hi, I'm Yuvraj !</h2>
</div>


{% include paginator.html %}

{% include posts-tag.html %}

