<!DOCTYPE html>
<html lang="en">
<head>


  <meta charset="utf-8">
  <title>Welcome to Alex's</title>
  <!-- <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles."> -->
  <!-- <meta name="author" content="Vincent Garreau" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="css/style.css">


<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4aabc7">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">



</head>
<body>


<!--Blinking text-->
<div class="wrapper">
  <div data-text></div>
  <span class="item">Data Scientist</span>
  <span class="item">Physicist</span>
  <span class="item">Simulation Engineer</span>
  <h2>Hi, I'm Alex!</h2>


</div>


<!-- particles.js container -->
<div id="particles-js"></div>

<!-- scripts -->
<script src="./js/particles.js"></script>
<script src="js/app.js"></script>




<input type="checkbox" id="burger-toggle">
<label for="burger-toggle" class="burger-menu">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</label>
<div class="menu">
  <div class="menu-inner">
    <ul class="menu-nav">
      <li class="menu-nav-item"><a class="menu-nav-link" href="index.html"><span>
            <div>Home</div>
          </span></a></li>
      <li class="menu-nav-item"><a class="menu-nav-link" href="about.html"><span>
            <div>About</div>
          </span></a></li>
      <li class="menu-nav-item"><a class="menu-nav-link" href="cv.html"><span>
            <div>CV</div>
          </span></a></li>
      <li class="menu-nav-item"><a class="menu-nav-link" href="contact.html"><span>
            <div>Contact</div>
          </span></a></li>
    </ul>
    <div class="gallery">
      <div class="title">
        <!-- <p>Sora Gallery</p> -->
      </div>
      <div class="images">
        <a class="image-link" href="#">
<!--          <div class="image" data-label="Star"><img src="https://i.loli.net/2019/11/23/cnKl1Ykd5rZCVwm.jpg" alt=""></div>-->
        </a>
        <a class="image-link" href="#">
<!--          <div class="image" data-label="Sun"><img src="https://i.loli.net/2019/11/16/FLnzi5Kq4tkRZSm.jpg" alt=""></div>-->
        </a>
        <a class="image-link" href="#">
<!--          <div class="image" data-label="Tree"><img src="https://i.loli.net/2019/10/18/uXF1Kx7lzELB6wf.jpg" alt=""></div>-->
        </a>
        <a class="image-link" href="#">
<!--          <div class="image" data-label="Sky"><img src="https://i.loli.net/2019/10/18/buDT4YS6zUMfHst.jpg" alt=""></div>-->
        </a>
      </div>
    </div>
  </div>
</div>




</body>
</html>